<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles.css" /> 
    <title>Link CSS to HTML</title>
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('imgu.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    BUGEMA UNIVERSITY -EXELENCE IN EXELENCE
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">CSS</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">Cascading Style Sheets (CSS) is a stylesheet language used to describe the presentation of a document written in HTML or XML (including XML dialects such as SVG, MathML or XHTML). CSS describes how elements should be rendered on screen, on paper, in speech, or on other media.</p>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Powered by <a href="isaiah k samson" target="_blank">.css</a>
  </div>
</div>
<a href="index.html">index</a>
    <a href="about.html">about</a>
    <a href="contact.html">contact</a>
    <a href="style.css">css</a>
</body>
</html>
